
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    
}

body {
    font-family: Baskerville URW, 'Times New Roman', Times, serif;
    font-size: 100%;
    
}

h1, h2, h3, h4, p {
    margin: 0;
}

/********************** header **********************/

header {
    position: fixed;
    width: 100%;
    background-color: black;
}

.top-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    font-family: ITC Avant Garde Gothic PRO, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
}

.logo-container {
    margin-right: auto;
}

.img-logo {
    max-width: 6rem;
    filter: invert(100);
}

/********************** main **********************/

section {
    height: 100vh;
    background-color: white;
    background-size: cover;
    scroll-snap-align: center;

    /*** Er dette riktig måte å lage et universalt grid på? ***/
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#landing-section {
    background-color: black;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-trio-container {
    margin: 0 5rem 5rem 0;
}

.img-trio {
    display: flex;
    justify-content: center;
    align-items: center
}

.img-pil-ned-container {
    position: absolute;
    bottom: 3.4375rem;
    left: 3.4375rem;
}

.img-pil-ned {
    width: 25%;
    filter: invert(100);
}

.landing-h1 {
    color: white;
    font-style: italic;
    text-align: center;
    padding: 2rem 1rem 2rem 1rem;
}


#produkter {
    background-color: #EBA555;
    color: black;
    display: grid;
    grid-template-columns: 100px 500px 600px 100px;
    grid-template-rows: 1fr 5px;
    justify-content: center;
    align-items: center;
}

.appelsin-img-container {
    grid-column-start: 2;
    grid-row-end: span 2;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appelsin-img {
    width: 900px;
}

.juice-kartong {
    justify-content: left;
    align-items: center;
}

.produktsmak-appelsin {
    grid-column-start: 3;
    grid-row-end: span 2;
    margin: 0 12rem 0 2rem;
}

.produktsmak {
    font-family: ITC Avant Garde Gothic PRO, Arial, Helvetica, sans-serif;
    font-size: 3.625rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 3.125rem;
    margin-bottom: 2rem;
}

.produkt-brødtekst-appelsin {
    font-style: italic;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.67rem;
    margin-bottom: 2rem;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible-info {
    font-family: Baskerville URW, 'Times New Roman', Times, serif;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: left;
    outline: none;
    font-size: 1rem;
    margin-bottom: 1.25rem;

    background-color: transparent;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible-info:hover {
    background-color: transparent;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .næring-content {
    background-color: transparent;
    font-style: italic;
    font-weight: 500;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.75);
    line-height: 1.50rem;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .ingredienser-content {
    font-style: italic;
    font-weight: 500;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.75);
    line-height: 1.50rem;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .oppbevaring-content {
    font-style: italic;
    font-weight: 500;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.75);
    line-height: 1.50rem;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
  }

.button-venstre {
    grid-column-start: 1;
    grid-row-end: span 2;
}

.neste-produkt-venstre {
    height: 50px;
    border: none;
    background: none;
}

.pil-v {
    width: 1.5rem;
    cursor: pointer;
}

.pil-v:focus { 
    outline: 0;
}

.button-høyre {
    grid-column-start: 4;
    grid-row-end: span 2;
}

.neste-produkt-høyre {
    height: 50px;
    border: none;
    background: none;
}

.pil-h {
    width: 1.5rem;
    cursor: pointer;
}

.pil-h:focus { 
    outline: 0;
}

.dotter-container {
    display: inline-block;
    column-span: all;
    justify-content: center;
    align-items: center;
}

.img-dotter {
    width: 0.75rem;
}


#vækka {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.spørsmål {
    display: flexbox;
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0 12rem 0 12rem;
}

.spørsmål-h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin: 3rem 0 2rem 0;

}

.spørsmål-p {
    font-style: italic;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    line-height: 2;
}


.nytt-utseende {
    align-items: center;
    justify-content: center;
    margin: 0 12rem 0 12rem;
}

.utseende-info {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    align-items: center;
    margin: 10rem 3rem 10rem 3rem;
}

.info-h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.info-p {
    font-style: italic;
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    line-height: 2;
}

.info-h1.utseende {
    font-weight: bold;
    text-transform: uppercase;
}

.info-h1.utseende.topp {
    margin-top: 2rem;
}

.info-p.utseende {
    font-style: italic;
    font-weight: 500;
}

.god-juice-bilde-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem 0 10rem 0;
}

.img-god-juice {
    object-fit: cover;
    width: 528px;
    height: 528px;
}

.throwback {
    align-items: center;
    justify-content: left;
    align-items: center;
    margin: 0 12rem 0 12rem;
}

.trondheim-bilde-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem 0 10rem 0;
}

.img-trondheim {
    object-fit: cover;
    width: 528px;
    height: 528px;
}

.info-h1.trondheim {
    margin-top: 2rem;
    line-height: 2;
}

#forhandler {
    background-color: black;
    height: 50vh;

    color: white;
    text-align: center;

    grid: flex;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.forhandler-container {
    margin: 0 30rem 0 30rem;
}

.forhandler-h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.forhandler-p {
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    line-height: 2;
    margin-bottom: -10rem;
}

.søkefelt-tabell {
    margin-left: 35rem;
    margin-right: 35rem;
    border-collapse: collapse;
}

.søkefelt {
    background-color: white;
    margin: 0 6.25rem 0 6.25rem;
}

.postnummer {
    color: grey;
    
}
.input-postnummer {
    width: 100%;
    height: 100%;
    padding: 1.25rem;
}

.input-postnummer:focus {
    outline: none;
}

.søk {
    background-color: grey;
}

.search-button {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;
    background-color: grey;
    cursor: pointer;
}

.search-button:focus {
    outline: none;
}

.fa-search {
    font-size: 3rem;
}


/********************** footer **********************/

footer {
    font-family: ITC Avant Garde Gothic PRO, Arial, Helvetica, sans-serif;
    background-color: black;
    height: 100vh;
    display: flexbox;
}

.foot-links {
    text-decoration: none;
    color: white;
}

.sitat {
    font-family: Baskervillee URW, 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.copyright {
    color: white;
}