
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
}

h1, h2, h3, h4, p {
    margin: 0;
}

/********************** header **********************/

header {
    position: fixed;
    width: 100%;
    background-color: white;
}

.top-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    color: black;
    text-decoration: none;
    padding: 1rem;
}

.logo {
    margin-right: auto;
}

.img-logo {
    max-width: 6rem;
}

/********************** main **********************/

section {
    height: 100vh;
    background-color: white;
    background-size: cover;
    scroll-snap-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#landing-image {
    background-color: black;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.forside {
    background-position: center;
    background-size: cover;
}

#produkter {
    background-color: #EBAB55;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.appelsin {
    margin: 1rem;
    justify-content: space-between;
}

.overskrift-slide {
    justify-content: left;
    align-items: center;
}

.juice-kartong {
    justify-content: left;
    align-items: center;
}

.produkt-info {
    justify-content: right;
    align-items: center;
}

#vækka {
    background-color: rgb(0, 0, 0);
    color: white;

    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.nytt-utseende {
    justify-content: left;
    align-items: center;
}

.throwback {
    align-items: center;
}

.minner {
    background-color: black;
}

#forhandler {
    background-color: black;
    height: 50vh;

    color: white;
    text-align: center;

    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.instagram {
    height: 50vh;
}


/********************** footer **********************/

footer {
    background-color: black;
    height: 75vh;

    color: white;
}