
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
}

h1, h2, h3, h4, p {
    margin: 0;
}

/********************** header **********************/

header {
    position: fixed;
    width: 100%;
    background-color: white;
}

.top-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    color: black;
    text-decoration: none;
    padding: 1rem;
}

.logo {
    margin-right: auto;
}

.img-logo {
    max-width: 6rem;
}

/********************** main **********************/

section {
    height: 100vh;
    background-color: white;
    background-size: cover;
    scroll-snap-align: center;

    /*** Er dette riktig måte å lage et universalt grid på? ***/
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#landing-img {
    background: url(./img-vækka/testbilde-forside.jpeg);
    background-size: cover;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-pil-ned {
    position: absolute;
    bottom: 3.4375rem;
    left: 3.4375rem;
}

.img-pil-ned {
    width: 8%;
    filter: invert(100%);
}

.landing-img-guide {
    color: black;
    text-align: center;
}


#produkter {
    background-color: #EBAB55;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.appelsin-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.appelsin-img {
    width: 280px;
}

.juice-kartong {
    justify-content: left;
    align-items: center;
}

.produktsmak {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.produkt-brødtekst-appelsin {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.produktinfo {
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    margin-bottom: 2rem;
    padding: 0.5rem 0 0.5rem 0;

    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

/*** Tror dette må kodes med css og ikke bruke png-filer i HTML. ***/
.produkt-nav {
    display: flex;
    justify-content: center;
    max-width: 3rem;
    position: absolute;
    display: none;
}

.nav-venstre {
    left: 50px;
}

/*** Tror dette må kodes med css og ikke bruke png-filer i HTML. ***/


#vækka {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.spørsmål {
    color: white;
    margin: 0 12rem 0 12rem;
}

.spørsmål-h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;

}

.spørsmål-p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 2;
}


.nytt-utseende {
    margin: 0 12rem 0 12rem;
}

.utseende-info {
    align-items: center;
    margin: 10rem 0 10rem 0;
}

.info-h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.info-p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    line-height: 2;
}

.god-juice-bilde-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem 0 10rem 0;

    background-color: blue;
}

.img-god-juice {
    object-fit: contain;
    width: 528px;
}

.throwback {
    align-items: center;
    justify-content: left;
    align-items: center;
    margin: 0 12rem 0 12rem;
}

.trondheim-bilde-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem 0 10rem 0;

    background-color: blue;
}

.img-trondheim {
    object-fit: contain;
    width: 528px;
}

#forhandler {
    background-color: black;
    height: 50vh;

    color: white;
    text-align: center;

    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.forhandler-h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.forhandler-p {
    font-size: 1rem;
    line-height: 2;
    margin-bottom: -10rem;
}

.søkefelt-tabell {
    margin-left: 35rem;
    margin-right: 35rem;
}

.søkefelt {
    background-color: white;
    margin: 0 6.25rem 0 6.25rem;
}

.postnummer {
    color: grey;
    padding: 1.25rem;
}

.søk {
    background-color: grey;
}


/********************** footer **********************/

footer {
    background-color: black;
    height: 90vh;
}

.sitat {
    color: white;
}